.page {
	background-color: #ffffff; 
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px; 
}


.dwicon {
	width:50px;
	border: 0px solid white;
}

.dwicon-small {
	width:35px;
	border: 0px solid white;
}

.header {
	width: 800px;
	margin-top: 40px;
	height: 25px; 
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	padding: 10px 0px 0px 20px; 
}


ul.side_menu {
	margin: 20px 0px 0px 10px;
	padding: 0px;
	list-style-type: none;
}

ul.side_menu li.heading {
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    font-family: georgia; 
    margin-bottom: 5px;
    color: #555555;
}

ul.side_menu li.item {
    margin-bottom: 3px;
    margin-left: 3px;
    font-family: arial;
    font-weight: normal;
    font-size: 12px;
}

ul.side_menu li.item a {
    text-decoration: none;
    color: #005500;
}

ul.side_menu li.item a:hover {
    text-decoration: underline;
    color: #55aa55;
}

ul.pagination {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-family: verdana; 
}

ul.pagination a:hover {
    text-decoration: underline;
}

ul.pagination li.dots {
    float: left; 
    width: 10px;
    text-align: center;
    font-size:9px;
    margin-right: 2px;
    margin-left: -2px;
}

ul.pagination li.pageNum {
    background-color: #808fb8;
    border: 1px solid #808fb8;
    margin-right: 4px;
    float: left; 
    width: 15px;
    height: 15px;
    padding: 1px;
    text-align: center;
}

ul.pagination li.currentNum {
    background-color: #ffffff;
    border: 1px solid #808fb8;
    margin-right: 4px;
    float: left; 
    width: 15px;
    height: 15px;
    padding: 1px;
    text-align: center;
    font-size: 11px;
}


ul.pagination li.pageNum a {
    text-decoration: none;
	color: #ffffff;
    font-weight: bold;
    font-family: verdana;
    font-size: 9px;
}

ul.pagination li.pageDir {
    margin-right: 4px;
    float: left; 
    font-weight: bold;
    font-size: 10px;
    padding: 1px;
    text-align: center;
}

ul.pagination li.pageDir a {
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    color: #222222;
}

ul.main_menu {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-family: arial; 
}

ul.main_menu li.left {
    margin-right: 40px;
    float: left; 
    font-weight: bold;
    font-size: 12px;
}

ul.main_menu li.right {
    margin-right: 20px;
    float: right; 
    font-weight: normal;
    font-size: 13px;
    font-style: italic;
}

ul.main_menu li.search {
    float: right; 
}

ul.main_menu a {
	text-decoration: none;
	color: #000000;
}

ul.main_menu a:hover {
	color: #cc0000;
	text-decoration: underline;
}


ul.main_menu li.search form {
	text-align: right;
}

ul.main_menu li.search form input {
	border: 1px solid #aaa;
	margin-top: -3px; 
}

ul.main_menu li.search form input.text {
    font-size: 12px;
    width: 132px;
    padding: 3px;
	background: url('http://www.ohloh.net//images/search_tabs/mag.png') 113px 1px no-repeat; 
}

ul.main_menu li.search form input.focused {
	border: 1px solid #000; 
}

.logobar {
	margin-top:5px;
	margin-bottom:7px;
}

.content {
	width:820px;
	font-family: arial;
	font-size: 11px;
}

div#left {
   	float: left;
   	width: 130px;
   	border-top: 1px solid #aaaaaa;
   	padding-top: 25px;
}

div#middle {
	margin: 0px 220px 0px 138px;
	border-top: 1px solid #aaaaaa;
	padding: 5px 5px 0px 0px;
}

div#right {
   	float: right;
   	width: 212px;
   	border-top: 1px solid #aaaaaa;
   	padding-top: 20px;
}

.day {
	font-family: georgia;
	font-size: 11px;
	font-weight: bold;
	background-color: #f4f4f4;
	color: #775577;
	border-top: 1px solid #dddddd;
	height: 13px;
	padding: 4px;
	margin-top: 15px;
}

.entry {
	background-color: #ffffff;
	border-top: 1px dotted #dddddd;
	padding: 7px;
}

.update {
	font-family: arial;
	font-size: 11px;
	color: #333333;
	margin-left:27px;
}

.time {
	font-family: arial;
	font-size: 10px;
	color: #999999;
	font-style: italic;
}

.entry a {
	text-decoration:none;
	color: #880088;
}

.entry a:hover {
	text-decoration:underline;
}

.entry img {
	float: left;
	margin-left:5px;
	vertical-align:middle; 
	width:17px; 
}

.panelItem {
	border-bottom:1px dotted #999999;
	color:#777777;
	margin-left:5px;
	margin-bottom:15px;
}

.heading {
	font-family:georgia; 
	color:#777777; 
	font-size:13px; 
	margin-bottom:7px;
}

.box {
	background-color:#f3f3f3; 
	margin-bottom:10px;
 	padding:10px;
}

.dwicon {
	margin:2px;
	border: none;
}

.more {
	text-align:right; 
	margin-bottom:8px; 
	margin-top:-5px; 
}

.more a {
	font-size:11px; 
	border-bottom:1px dotted #999999; 
	text-decoration: none; 
	color:#777777;
}

.more a:hover {
	font-size:11px; 
	border-bottom:1px solid #cc0000; 
	color: #cc0000;
}

.red {
	color:#cc5555;
	font-family:georgia;
	font-size:11px;
	margin-bottom:4px;
}

.green {
	color:#559955;
	font-family:georgia;
	font-size:11px;
	margin-bottom:4px;
}

.purple {
	color:#885599;
	font-family:georgia;
	font-size:11px;
	margin-bottom:4px;
}